* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column; */
  background-color: hsl(233, 47%, 7%);
}

.codejesus {
  border: 1px solid;
  background-color: hsl(244, 38%, 16%);
  margin: auto;
  margin-top: 250px;
  /* display: flex; */
  height: 376px;
  width: 1000px;
}

.codejesus .header {
  color: hsl(0, 0%, 100%);
  border: 2px;
  /* border-color: green; */
  width: 390px;
  margin: 50px;
  padding: 30px;
}

.codejesus .header span {
  color: hsl(277, 64%, 61%);
}

.codejesus .header h2 {
  font-size: 2rem;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 10px;
}

.codejesus .header p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  font-weight: 400;
}

.numbers {
  color: hsla(0, 0%, 100%, 0.6);
  margin: 80px;
  margin-top: -60px;
  display: flex;
}

.numbers .numb1 h3 {
  color: hsl(0, 0%, 100%);
}

.numbers .numb2 h3 {
  color: hsl(0, 0%, 100%);
}
.numbers .numb3 h3 {
  color: hsl(0, 0%, 100%);
}

.imageholder img {
  height: 375px;
  width: 500px;
  display: flex;
  margin-left: 500px;
  margin-top: -393px;
  border-radius: 0px 10px;
}
